.header_style {
  font-family: "Perpetua";
  font-size: 75px;
  line-height: 66px;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}

.paragraph_style {
  font-family: "Candara";
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}

.paragraph_style span {
  color: grey;
}


.content {
  position: relative;
}
.content:after {
  content: "";
  background: url("https://i.ibb.co/cXh6vYp/IMG-20160820-001615.jpg") no-repeat
  center center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1; /* Here is your opacity */
}

.btn {
  margin-left: 40px;
  
}

@media (max-width:500px){
  button {
    padding:2px 4px;
    font-size:2%;
    line-height: 1;
  }
}

@media (max-width: 700px){
  img {
    display:none;
    
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px){
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .content:after {
    background-image: none !important;
  }

  .btn {
    margin-left: 37px;
    
    
  }
  
  
}




@media only screen and (min-width: 1000px) {


  .header_style {
    font-size: 60px;
    background-image: none !important;
    background-color: #fefefe;
    margin-top: 20px;
    margin-left: 10px;
  }

  img {
    position:relative;
    float: right;
    border-radius: 40%;
  }

  .content:after {
    background-image: none !important;
  }

  .paragraph_style{
    margin-left: 9px;
  }

 
  .btn {
    margin-left: 12px;
    
  }
  
}
