.font_style {
  font-family: berlin Sans FB;
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  padding-top: 5%;
  padding-left: 5%;
 
}

@media (min-width: 1200px) {
  .font_style {
    font-size: 60px;
    float: left;
  }
}
@media (min-width: 900px) {
  .font_style {
    font-size: 60px;
    float: left;
  }
}
@media (max-width: 600px) {
  .font_style {
    font-size: 60px;
  }
}

@media (max-width: 300px) {
  .font_style {
    font-size: 30px;
    
  }
}

.img_header {
  border-radius: 50%;
  border: solid 5px grey;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: 50%;
}

@media (min-width: 1200px) {
  .img_header {
    width: 20%;
    
  }
}
@media (min-width: 900px) {
  .img_header {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .img_header {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .img_header {
    width: 70%;
  }
}
